.lpb-controls-publish-toggle {
  opacity: 1;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  margin: 8px;
}
.lpb-controls-publish-toggle.is-published {
  background-image: radial-gradient(#00c000, #00d900);
}

.lpb-controls-publish-toggle.not-published {
  background-image: radial-gradient(#de9201, #ffa500);
}
